/*
object-fit: cover, contain, fill, none, scale-down
*/
img {
  height: 300px;
  width: 100%;
  display: block;
  object-fit: cover;
}
.one {
  float: left;
  margin-right: 5%;
  width: 40%;
}
.two {
  float: left;
  margin-right: 5%;
  width: 40%;
}

