/* 
  fixed: relative to the viewport(screen).
  Control position with: top, left, bottom, right.
  will use other content to fill out the space
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  position: fixed;
  background:rgb(4, 156, 111);
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  height: 20px;
  margin-top: 0;
}

div {
  background: rgb(91, 194, 88);
  margin-top: 40px;
  border: 2px rgb(99, 90, 90) solid;
  height: 500px;
}

.one {
  background: rgb(170, 104, 104);
  margin: 5px;
  color: white;
  padding: 10px;
}
.two {
  background: rgb(47, 47, 83);
  margin: 5px;
  color: white;
  padding: 10px;
}
.special {
  background: rgb(206, 41, 178);
  color: black;
}


