/* 
  media queries: style elements in different screen sizes.
  min-width: --starting from
  max-width: -- up to (below)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightcoral;
}

.banner {
  margin: 10px;
  background: lightgreen;
  color: black;
}

@media screen and (min-width: 768px) {
  body {
    background: lightyellow
  }

  .banner {    
    background: rgb(65, 70, 65);
    color: rgb(245, 241, 241);
  }
}

@media screen and (max-width: 500px) {
  body {
    background: rgb(144, 188, 238);
  }
}


