div {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.one {
  background: red;
  transform: skewX(25deg)
}
.two {
  background: blue;
  transform: skewY(-25deg)
}
.three {
  background: green;
  transform: skew(25deg, 40deg);
}