<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="section">
        <h1 class="section-title">Section Title</h1>
        <div class="title-underline"></div>
        <div class="section-center">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptas aut hic illo amet. Architecto id quam, unde sunt placeat est doloribus illo aliquam voluptate quibusdam numquam in qui atque.</p>
        </div>
    </div>
</body>
</html>