/*
  color values are specified by hsl: hue, saturation, lightness

  hue: is a degree on the color wheel from 0 to 360.
  0 is red
  120 green
  240 blue

  saturation: is a porcentage value from 0% means s shade of gray and 100% is the full color

  lightness: is a porcentage value 
  0% is black
  100% is white
*/

.box {
  width: 100px;
  height: 100px;
  border: solid 1px orange;
  margin: 1rem;
}
.box-1 {
  background: hsl(245, 90%, 30%);
}
.box-2 {
  background: hsl(245, 80%, 40%);
}
.box-3 {
  background: hsl(245, 70%, 50%);
}
.box-4 {
  background: hsl(245, 60%, 60%);
}
.box-5 {
  background: hsl(245, 50%, 70%);
}