/*
transition 0 = 100
from start to end state

animation 0 1% 5% ... 100%
nultiple states
*/

div {
  width: 100px;
  height: 100px;
  color: black;
  margin: 5px;
}

.transition {
  background-color: red;
  transition: all 2s linear;
}
.transition:hover {
  background-color: yellow;
  transform: translateX(100px);
}

.animation {
  background-color: blue;
  animation-name: move;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

@keyframes move {
  0%{
    transform: translateX(100px);
    background-color: green;
  }
  50%{
    transform: translateX(-30px);
    background-color: purple;
  }
  100%{
    transform: translateX(-70px);
    background-color: orange;
  }
}


